<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register vertification code</title>
</head>

<body>
  <h1>HELLO {{username}}!</h1>
  <h3>U received this email because of registing new account on Fine Social.</h3>
  <p>Your verify code is: {{code}}</p>
</body>

</html>